.flex-container1{
    width: 800pt;
    height: 300pt;
    background-color: yellow;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.zold{
width: 100px;
height: 100px;
background-color: green;
position: absolute;
left: -200px;
}
.sarga{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: -200px;
}
.lila{
    width: 100pt;
    height: 100pt;
background-color: purple;
}

.flex-container2{
    width: 100%;
    height: 400pt;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content:start;
    list-style: none;
    gap: 0.5%;
}
.flex-container3{
    width: 100%;
    height: 400px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 25.2%;
    list-style: none;
}


.flex-container4{
    width: 100%;
    height: 400px;
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5%;
    list-style: none;
}
