.flex-container1{
    width: 800pt;
    height: 300pt;
    background-color: yellow;
}
.zold{
background-color: green;
}
.sarga{
background-color: yellow;
}
.lila{
    width: 100pt;
    height: 100pt;
background-color: purple;
}
#zold1{
    
    visibility: hidden;
}
#sarga1{
    
    visibility: hidden;
}
#lila1{
   
   
    align-content: center;
    justify-content: center;
}
.flex-container2{
    width: 100%;
    height: 400pt;
    background-color: yellow;
}
.lila.lila2{
    
    display: flex;
    flex-direction:row;
    
}
.lila.lila3{
    
    display: flex;
    justify-content: space-around;
    vertical-align: auto;
}
.lila.lila4{
   
    display: flex;
    flex-direction:row-reverse;
}